#item{
    width: 50vw;
    padding: 2vh 3vw;
    margin-top: 2vh;
    border: 1px solid red;
}

#item:hover{
    color: white;
    transition-timing-function: linear;
    background-color: rgb(113, 113, 236);
}

.completed{
    transition: all;
    transition-duration: 1.5s;
    text-decoration: line-through;
    background-color: grey;
    color: #fff;
}

.notCompleted{
    transition: all;
    transition-duration: 1.5s;
    color: red;
}