#item{
    width: 83.5vw;
    padding: 2vh 3vw;
    margin-top: 2vh;
    border: 1px solid red;
}

#item:hover{
    color: white;
    transition-timing-function: linear;
    background-color: rgb(113, 113, 236);
}

.nav-link{
    transition-timing-function: linear;
    transition-duration: 1s;
    transition-property: all;
}

.nav-link:hover{
    color: red;
}

.completed{
    transition-property: all;
    transition-duration: 1.5s;
    text-decoration: line-through;
    background-color: grey;
    color: #fff;
}

.notCompleted{
    transition-property: all;
    transition-duration: 1.5s;
    color: red;
}

.completed:hover{
    background-color: rgb(113, 113, 236);
    border: none;
}

.notCompleted:hover{
    background-color: rgb(113, 113, 236);
    border: none;
}